<ul class="category-links">
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-2">
      <span><sup>2</sup>He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-3' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-3">
      <span><sup>3</sup>He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-4' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-4">
      <span><sup>4</sup>He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-5' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-5">
      <span><sup>5</sup>He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-6' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-6">
      <span><sup>6</sup>He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-8' | relative_url }}" rel="noreferrer noopener" target="_blank" title="Helium-8">
      <span><sup>8</sup>He</span>
    </a>
  </li>
</ul>