<ul class="header-links">
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
  <li>
    <a href="{{ 'tag/he-2' | relative_url }}" rel="noreferrer noopener" target="_blank" title="he-2">
      <span>2He</span>
    </a>
  </li>
</ul>