/ =============================================================================
// Menu
// =============================================================================

.category-links {
	display: block;
	border-bottom: 1px solid $base-border-color;
}

.li{
	display: inline-block;
}

.a {
	font-family: 'Cormorant Garamond';
	font-weight: 600;
	text-decoration: none;
}