// =============================================================================
// Menu
// =============================================================================

.category-links {
	display: block;
	border-bottom: 1px solid $base-border-color;
}

.span {
	font-family: $serif;
	font-weight: 600;
	color: #1e1e1e;
	text-decoration: none;
}