// =============================================================================
// Menu
// =============================================================================

.category-links {
	display: block;
	padding: 12px 0 0;
	text-align: center;
	border-top: 1px solid $base-border-color;
	li {
		display: inline-block;
		font-family: 'Cormorant Garamond';
		font-size: 26px;
		font-weight: 600;
		padding: 0 29px 0;
		a {
			color: #000000;
			text-decoration: none;
		}
	}
}